form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email{
    display: flex;
    flex-direction: column;

}

.message{
    display: flex;
    flex-direction: column;

}

#message{
    height: 100px;
}

div{
    margin-top: 15px;
    
}